*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** letra ***/
@font-face {
    font-family: "Baskervville-Regular";
    src: url("../Fuente/Baskervville/Baskervville-Regular.ttf");
}

body{
    background-color: #1338be;
    font-family: "Baskerville-Regular";
}
.menu{
    background-color: #800e0e;
    padding: 10px;
    list-style: none;
    margin: 20px auto;
    text-align: center;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a{
    padding: 10px;
    margin: 10px;
    color: #ffc600;
    text-decoration: none;
    display: inline-block;
}
.menu li a:hover{
    color: #1338be;
    background-color: #ffc600;
    border-radius: 80%;
}
h1,h2{
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header{
    background-color: #800e0e;
    text-align: center;
    padding: 10px 20px;
    color: #f3ca4c;
    
}
.links{
    color: #ffc600;
}

h1{
    text-align: center;
    font-size: 230%;
    font-weight: normal;
    margin: 1rem;
}
.subtitulo{
    text-align: center;
    font-size: 230%;
    font-weight: normal;
}
.derechos{
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    margin: 1.5;
}
.logo{
    width: 100px;
}
main{
    margin: 20px;
    padding: 20px;
}

/* novedades flex*/
.padre{
    background-color: #f3ca4c;
    border: 3px black solid;
    border-radius: 0%;
    padding: 2px;
    margin: auto;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
.Cartelera{
    display: block;
    width: 400px;
    height: 15vh;
    margin: 10px;
}
.Cartelera1{
    background-color: #f3ca4c;
    margin: 0px;
    width: 11vw;
}
.Cartelera2{
    background-color: #f3ca4c;

}
.Cartelera3{
background-color: #f3ca4c;
}

.novedades{
    display: block;
    width: 350px;
    height: auto;
    margin: 10px;
}

/* Formulario */
form{
    background-color: #f3ca4c;
    margin-top: 20px;
    border: 3px solid black;
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000;
}
input[type="text"],
textarea {
display: block;
width: 25%;
padding: 10px;
border: 2px solid #2e2e2e;
font-size: 16px;
margin-bottom: 10px;
}

.btnformulario{
    background-color: #2a99f3;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}
/* Críticas grid*/
.imagenescriticacaja{
    background-color: #f3ca4c;
    width: auto;
    height: auto;
    
}
.contenedor{
    background-color: #f3ca4c;
    border: 3px #000 solid;
    width: 70%;
    height: auto;
    font-size: 2rem;
    text-align: center;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr
    grid-row: 1fr, 1fr, 1fr;
    gap: 5px;
}
.imgcrit{
    width: 550px;
    height: 315px;
}

/* editorial */
.infoEdit{
    background-color: #f3ca4c;
    margin: 20px;
    border: 3px solid #000;

}
/* catálogo */

.imagenescatalogo{
    background-color: #f3ca4c;
    margin: 20px;
    border: 3px solid black;
    border-radius: 0%;
}
.imgcat{
    margin: 10px;
    width: 200px;
    height: auto;
}


/****/

/*responsive*/


@media screen and (max-width:768px){
    .imagenescriticacaja{
        background-color: #f3ca4c;
        width: auto;
        height: auto;
        
    }
    .contenedor{
        background-color: #f3ca4c;
        border: 3px #000 solid;
        width: 70%;
        height: auto;
        font-size: 2rem;
        text-align: center;
        margin: 20px auto;
        display: grid;
        grid-template-columns: 1fr
        grid-row: 1fr, 1fr, 1fr;
        gap: 5px;
    }
    .imgcrit{
        width: 350px;
        height: 315px;
    }
    
}

@media screen and (max-width:420px){
    .imagenescriticacaja{
        background-color: #f3ca4c;
        width: auto;
        height: auto;
        
    }
    .contenedor{
        background-color: #f3ca4c;
        border: 3px #000 solid;
        width: 70%;
        height: auto;
        font-size: 2rem;
        text-align: center;
        margin: 20px auto;
        display: grid;
        grid-template-columns: 1fr
        grid-row: 1fr, 1fr, 1fr;
        gap: 5px;
    }
    .imgcrit{
        width: 55vw;
        height: 200px;
    }
    
}